* {
  background-color: #FAF9F6;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

h1, h2 {
  text-align: center;
  font-weight: bold;
}

h1 {
  font-size: 60px;
}

h2 {
  font-size: 45px;
}

#navbar>ul {
  display: flex;
  justify-content: space-around;
  list-style-type: none;
}

table {
  margin: auto;
  text-align: center;
}

tr {
  padding: 2rem;
  max-height: 200px;
}

td {
  min-width: 100px;
  max-width: 200px;
  max-height: 200px;
  word-wrap: normal;
}

td>img {
  max-width: 100%;
}

#bookTable {
  text-align: center;
}
